@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'roboto',sans-serif;
}
header {
    padding: 10px;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.home-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    padding: 10px; 
    border-radius: 50%;
    background-color: #1f1f1f;
    border: none;
    cursor: pointer;
}

.home-icon svg {
    width: 32px;
    height: 32px;
    filter: invert(100%);
}


.logo-icon {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}   

.search-container {
    /* Set the container to position: relative */
    /* This makes the absolute positioning of the icon relative to this container */
    position: relative; 
    width: 300px;
}

#search-input {
    /* General styling for the input field */
    width: 100%;
    padding: 10px 40px 10px 40px; /* Padding on LEFT and RIGHT to make room for icons */
    font-size: 16px;
    border: 1px solid #1f1f1f;
    border-radius: 20px;
    box-sizing: border-box; /* Ensures padding/border are included in width calculation */
    background-color: #1f1f1f;
}
#search-input:hover {
    /* General styling for the input field */
    width: 100%;
    padding: 10px 40px 10px 40px; /* Padding on LEFT and RIGHT to make room for icons */
    font-size: 16px;
    border: 1px solid #ededed;
    border-radius: 20px;
    box-sizing: border-box; /* Ensures padding/border are included in width calculation */
    background-color: #1f1f1f;
}

.search-icon {
    
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    
    height: 20px; 
    width: 20px;
    fill: #888; 
    pointer-events: none; 
}
.search-icon:hover{
    
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    height: 20px; 
    width: 20px;
    fill: #888; 
    pointer-events: none; 
    font-weight: bolder;
    cursor: pointer;
}
.folder {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    fill: #888;
    pointer-events: none;
}

.othernav{
    margin-left: 450px;
    /* font-size: 15px; */
   
}

.pages a {
    text-decoration: none;
    color: grey;   
    margin: 5px; 
}
.pages a:hover {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.install{
    height: 17px;
    width: 17px;
    filter: invert(100%);
}

.login-button{
    border-radius: 30px;
    background-color: #fff;
    height: 50px;
    width: 100px;
    font-weight: bolder;
    font-size: 17px;
}
.login-button:hover{
    border-radius: 30px;
    background-color: #d2d2d8;
    height: 52px;
    width: 100px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 17px;
}
.main-layout{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px); /* full screen minus header */
    box-sizing: border-box;
}
.left {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgb(20, 20, 20);
    background-color: rgb(20, 20, 20);
    width: 25%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.lefthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}
.plus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-weight: normal;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.plus:hover {
    background-color: rgb(49, 49, 49);
}

.playlist{
    display: block;
    border-radius: 8px;
    background-color:#1f1f1f;
    padding: 10px;
    /* font-weight: bold; */
    
}

.bold{
    font-weight: bold;
}
.font-normal{
    font-weight: normal;
}
.createplaylist{
    border-radius: 30px;
    background-color: #fff;
     height: 30px; 
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
}
/* .createplaylist:hover{
    border-radius: 30px;
    background-color: #cfcfcf;
    height: 35px;
    width: 150px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 17px;
} */

.right {
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #1f1f1f;
    background-color: #1f1f1f; /* slightly lighter so it's visible */
    width: 75%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.right-head{
    font-size: 25px;
    font-weight: bold;
}